@model IEnumerable<Sistema.De.Facturacion.Web.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documents.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefonC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionC)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Customer_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Customer_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Customer_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
